[Unit]
Description=Storj Identity %i

[Service]
Type=oneshot
User=storj-storagenode
Group=storj-storagenode
EnvironmentFile=/etc/storj-storagenode/%i.conf
RemainAfterExit=no

ExecCondition=test ! -f "~/%i/identity/identity.key"

ExecStartPre=/bin/mkdir -p "~/%i/identity"
ExecStart=/usr/bin/identity create \
  --config-dir ${CONFIG_DIR} \
  --identity-dir "~/%i/identity"
