[Unit]
Description=Storj Storage Node %i
After=network.target remote-fs.target storj-storagenode-setup@.service
Wants=storj-storagenode-setup@.service

[Service]
Type=simple
User=storj-storagenode
Group=storj-storagenode
Restart=on-failure
RestartSec=30s
TimeoutStopSec=300s

EnvironmentFile=/etc/storj-storagenode/%i.conf
ExecStart=/usr/bin/storagenode run \
  --config-dir ${CONFIG_DIR} \
  --identity-dir ~/%i/identity \
  --console.static-dir /usr/share/storj-storagenode \
  --metrics.app-suffix -%i \
  --metrics.interval 30m \
  --contact.external-address ${ADDRESS} \
  --operator.email ${EMAIL} \
  --operator.wallet ${WALLET} \
  --console.address ${CONSOLE} \
  --storage.allocated-disk-space ${STORAGE}

[Install]
WantedBy=multi-user.target
